* {
	padding: 0;
	margin: 0;
	font-family: Arimo;
	font-size: 20px;
	transition: 0.25s;
	color: white;
	scroll-behavior: smooth;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	background: #556166;
	color: black;
}

.body {
	background: linear-gradient(45deg, black, #0b1822);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}


.title {
	font-family: Jost;
}



.header {
	position: fixed;
	width: calc(100% - 60px);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 15px 30px;
	background: linear-gradient(135deg, #1C1E21C1, #1C1E213C);
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
	z-index: 10;
}
	.header .logo {
		display: flex;
		align-items: center;
	}
		.header .logo .icon {
			height: 50px;
		}
		.header .logo .text {
			margin-left: 10px;
			font-family: Jost;
			max-width: 130px;
			line-height: 22px;
		}

	.header .link, .burger_menu .link {
		margin-left: 30px;
		padding: 10px 20px;
		border-radius: 15px;
		background-color: #1C1E21;
		overflow: hidden;
	}
		.header .link:hover, .burger_menu .link:hover {
			background-color: #141619;
		}
	.header .burger_icon {
		height: 30px;
	}
		.header .burger_icon:hover {
			cursor: pointer;
		}
.burger {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: 0.125s;
}
	.burger.opened {
		visibility: visible;
		opacity: 1;
	}
	.burger.opened .burger_menu {
		transform: translateX(0);
	}
.burger_menu {
	position: fixed;
	height: 100%;
	width: 200px;
	background: linear-gradient(135deg, #1C1E21C1, #1C1E213C);
	transform: translateX(200px);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}
	.burger_menu .link {
		margin: 15px 0 0 0;
	}
#burger_b {
	display: none;
}


.main {
	margin-top: 80px;
}

.mb {
	display: none;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item.chb {
	margin: 20px 0 50px 0;
}

.section_text {
	text-align: center;
	height: 80px;
	margin-bottom: 50px;
	font-family: Jost;
	font-size: 30px;
	background: linear-gradient(135deg, #1C1E21A1, #1C1E213C);
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
	line-height: 80px;
}

#projects, #about {
	position: relative;
	top: -160px;
	height: 80px;
	visibility: hidden;
}

.mlink {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 0 10px;
	outline: 5px solid #1C1E21;
	border-radius: 20px;
	background: linear-gradient(135deg, transparent, #1C1E2184);
	overflow: hidden;
}
	.mlink:hover {
		background-color: #1C1E21;
	}
	.mlink .icon {
		height: 30px;
		margin: 5px;
	}
	.mlink .text {
		margin: 0 10px;
		font-size: 25px;
	}


.info {
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: -80px -120px 0 -120px;
}

	.info .icon {
		height: 560px;
		margin: 80px 40px 0 0;
	}
		.info .icon.project {
			height: 400px;
			width: auto;
		}

	.info .panel {
		margin: 80px 40px 0 0;
		background: linear-gradient(135deg, #1C1E2184, transparent);
		padding: 20px 30px 30px 30px;
		border-radius: 20px;
		box-shadow: rgb(0, 0, 0, 0.4) 0 10px 25px 5px;
	}
	.info .title {
		font-size: 45px;
	}
	.info .text {
		margin-top: 10px;
		font-size: 25px;
	}


.discord_s {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.about, .projects {
	padding-right: 10%;
	margin: 0 120px;
}
.bio, .project {
	border-radius: 20px;
	background: linear-gradient(135deg, transparent, #1C1E2184);
	display: flex;
	width: 100%;
}
	.bio.right, .project.right {
		margin: 30px 0 50px 15%;
	}
	.bio.left, .project.left {
		margin: 30px 15% 50px 0;
	}
	.bio .avatar, .project .icon {
		margin: 20px;
		height: 240px;
		background-color: #141719;
		border-radius: 10px;
	}
	.bio .des, .project .des {
		margin: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.bio .title, .project .title {
		font-size: 30px;
	}
	.bio .text, .project .text {
		margin-top: 10px;
	}
	.bio .links {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 13px;
	}
	.bio .link, .project .link {
		padding: 8px 10px;
		display: flex;
		align-items: center;
		border-radius: 10px;
	}
	.project .link {
		margin: 20px auto 0 0;
		outline: 3px solid #1C1E21;
		background: linear-gradient(135deg, transparent, #1C1E2184);
		overflow: hidden;
	}
		.project .link:hover {
			background-color: #1C1E21;
		}
		.bio .link .icon, .project .link .icon {
			height: 20px;
			border-radius: 0;
			margin: 0;
			background-color: initial;
		}
		.bio .link .text, .project .link .text {
			margin: 0 0 0 5px;
			font-size: 18px;
		}
	.bio .link {
		outline: 3px solid #1C1E21;
		background: linear-gradient(135deg, transparent, #1C1E2184);
		overflow: hidden;
	}
		.bio .link:hover {
			background-color: #1C1E21;
		}
	.bio .link.youtube {
		outline: 3px solid red;
		background: linear-gradient(135deg, transparent, red);
		overflow: hidden;
	}
		.bio .link.youtube:hover {
			background-color: red;
		}
	.bio .link.gamejolt {
		outline: 3px solid #2F7F6F;
		background: linear-gradient(135deg, transparent, #2F7F6F);
		overflow: hidden;
	}
		.bio .link.gamejolt:hover {
			background-color: #2F7F6F;
		}
	.bio .link.itch_io {
		outline: 3px solid #FF5F5F;
		background: linear-gradient(135deg, transparent, #FF5F5F);
		overflow: hidden;
	}
		.bio .link.itch_io:hover {
			background-color: #FF5F5F;
		}
	.bio .link.discord {
		outline: 3px solid #5662F6;
		background: linear-gradient(135deg, transparent, #5662F6);
		overflow: hidden;
	}
		.bio .link.discord:hover {
			background-color: #5662F6;
		}



.project_des {
	margin: 50px 120px;
	border-radius: 20px;
	background: linear-gradient(135deg, #1C1E2184, transparent);
	padding: 10px 20px;
}
	.project_des .text {
		margin: 10px 0;
	}
.mlink .size {
	color: #97ADB2;
	margin: 0 10px 0 -5px;
}
.date {
	color: #97ADB2;
}



.footer {
	margin: auto -120px 0 -120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(135deg, #1C1E21A1, #1C1E213C);
	font-size: 20px;
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
}
	.footer .links {
		width: 150px;
		display: flex;
		flex-direction: column;
	}
	.footer .link {
		color: #556166;
		margin-right: auto;
		padding: 2px 0;
	}
		.footer .link:hover {
			color: white;
		}

	.footer .copyright {
		width: 150px;
		text-align: center;
		color: #556166;
	}
	.footer .ktc_smoke {
		height: 120px;
	}



.project_screenshots {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -20%;
}
#r3:checked ~ .s1 {
	margin-left: -40%;
}
#r4:checked ~ .s1 {
	margin-left: -60%;
}
#r5:checked ~ .s1 {
	margin-left: -80%;
}
.screenshot {
	width: 20%;
}
	.screenshot:hover {
		cursor: pointer;
	}
.slides {
	width: 500%;
	height: 100%;
	display: flex;
}
.screenshots {
	width: 960px;
	height: 540px;
	border-radius: 10px;
	overflow: hidden;
}
.screenshot img {
	width: 100%;
	height: 100%;
}
.screenshots_nav {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 10px 15px 50px 15px;
}
.sc_nav_bar {
	width: 50px;
	height: 20px;
	margin: 0 5px;
	cursor: pointer;
	background-color: #1C1E21;
	border-radius: 5px;
}
	.sc_nav_bar:hover {
		background-color: #141619;
	}
input[name="r"] {
	position: absolute;
	visibility: hidden;
}
.gallery {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: 0.125s;
}
	.gallery.opened {
		visibility: visible;
		opacity: 1;
	}
.gallery_img {
	z-index: 4;
	max-width: 95%;
	max-height: 95%;
	transform: scale(0.9);
}
.gallery.opened .gallery_img {
	transform: scale(1);
}



.changelog {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	text-align: left;
	overflow-y: auto;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
}
	.changelog.opened {
		visibility: visible;
		opacity: 1;
	}
#changelog_b {
	display: none;
}

.changelog .panel {
	background: linear-gradient(45deg, black, #0b1822);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	margin: 120px 100px 80px 100px;
	min-width: 400px;
}

.changelog .content {
	background: linear-gradient(135deg, #1C1E2184, transparent);
	border-radius: 20px;
	padding: 15px 20px;
	margin: 20px;
}

.changelog .title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.changelog .ver {
	font-size: 28px;
}

.changelog .text {
	margin-top: 10px;
}


.dreams {
	padding: 0 30px 30px 30px;
	min-height: calc(100vh - 330px);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.dreams_t {
	padding-bottom: 10px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}

.dream_p {
	outline: 5px solid #1C1E21;
	border-radius: 35px;
	background: linear-gradient(135deg, transparent, #1C1E2184);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 30px;
}
	.dream_p:hover {
		background-color: #1C1E21;
	}
	.dream_p .title {
		font-size: 40px;
	}
	.dream_p .tag {
		font-size: 15px;
		border-radius: 10px;
		border: 3px solid;
		padding: 5px 10px;
		margin-top: 10px;
	}
		.dream_p .tag.sus {
			border-color: red;
			background: linear-gradient(135deg, transparent, red);
		}

.dream, .not_found {
	margin: 50px 120px;
	border-radius: 20px;
	background: linear-gradient(135deg, #1C1E2184, transparent);
	padding: 30px 40px;
}
	.dream .title, .not_found .title {
		font-size: 35px;
		line-height: 35px;
	}
	.dream .text {
		margin-top: 15px;
	}
	.dream.hidden {
		display: none;
	}
.not_found {
	text-align: center;
}
	.not_found.hidden {
		display: none;
	}



@media (max-width: 720px) {
	* {
		font-size: 16px;
	}

	.main {
		margin-top: 70px;
	}

	.mb {
		display: block;
	}

	.pc {
		display: none;
	}

	.header {
		padding: 15px;
		width: calc(100% - 30px);
		justify-content: space-between;
		height: 40px;
	}

		.header .logo .icon {
			height: 40px;
		}

		.header .logo .text {
			max-width: 100px;
			line-height: 18px;
		}

		.header .link {
			margin-left: 10px;
			padding: 8px 12px;
		}

	.section_text {
		margin-bottom: 15px;
	}

	.mlink {
		padding: 8px;
		margin-bottom: 15px;
	}

		.mlink .icon {
			height: 25px;
		}

		.mlink .text {
			font-size: 20px;
		}

	.info {
		flex-direction: column;
		margin: -80px -20px 0 -20px;
	}

		.info .icon {
			height: 300px;
			margin: 70px 0 0 0;
		}

		.info .panel {
			margin: 0 40px 40px 40px;
			text-align: center;
			padding: 15px;
		}

		.info .title {
			font-size: 26px;
			line-height: 30px;
		}

		.info .text {
			font-size: 18px;
		}

	.discord_s {
		min-width: 300px;
		margin-bottom: 15px;
	}

	.about, .projects {
		padding: 0;
		margin: 0 20px;
	}

	.bio, .project {
		margin: 15px 0;
		flex-direction: column;
	}

		.bio.right, .project.right {
			margin: 15px 0;
		}

		.bio.left, .project.left {
			margin: 15px 0;
		}

		.bio.right, .project.right {
			justify-content: left;
			text-align: left;
		}

		.bio .avatar, .project .icon {
			margin: 20px 40px;
			height: auto;
		}

		.bio .des, .project .des {
			margin: 0 20px 20px 20px;
		}

		.bio .title, .project .title {
			font-size: 25px;
		}

		.bio .text, .project .text {
			margin-top: 8px;
		}

		.bio .links {
			margin-top: 10px;
		}

		.bio .link {
			padding: 6px 8px;
		}

			.bio .link .text {
				font-size: 15px;
			}

			.bio .link .icon {
				height: 18px;
			}

	.project_des {
		margin: 20px;
	}

	.info .icon.project {
		height: 250px;
	}

	.lproject {
		margin-bottom: 20px;
	}

	.lchangelog {
		margin-top: -20px;
	}

	.footer {
		padding: 0 140px;
	}

		.footer .ktc_smoke {
			height: 100px;
		}

	.screenshots {
		width: 320px;
		height: 180px;
	}

	.sc_nav_bar {
		width: 40px;
		height: 18px;
	}

	.item {
		flex-direction: column;
	}

		.item.chb {
			margin: 20px 0 0 0;
		}

	.changelog .panel {
		margin: 110px 30px 70px 30px;
		min-width: 300px;
	}

	.changelog .ver {
		font-size: 25px;
	}

	.changelog .text {
		margin-top: 9px;
	}

	.dreams {
		min-height: calc(100vh - 280px);
	}
	.dreams_t {
		height: 50px;
		font-size: 30px;
	}

	.dream_p {
		outline: 5px solid #1C1E21;
		border-radius: 20px;
		background: linear-gradient(135deg, transparent, #1C1E2184);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
		.dream_p .title {
			font-size: 30px;
			line-height: 30px;
		}

	.dream, .not_found {
		margin: 20px 30px;
		border-radius: 20px;
		background: linear-gradient(135deg, #1C1E2184, transparent);
		padding: 20px 20px;
	}
		.dream .title, .not_found .title {
			font-size: 25px;
			line-height: 25px;
		}
}
