* {
	padding: 0;
	margin: 0;
	font-family: Ubuntu;
	font-size: 20px;
	transition: 0.25s;
	color: white;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.body {
	background-color: #141719;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	padding: 0 120px;
}


.title {
	font-family: Russo One;
}



.header {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 15px 30px;
	background-color: #1C1E21;
	margin: 0 -120px;
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
}

	.header .logo {
		display: flex;
		align-items: center;
	}
		.header .logo .icon {
			height: 50px;
		}
		.header .logo .text {
			margin-left: 10px;
			font-family: Russo One;
			max-width: 130px;
		}

	.header .link {
		margin-left: 30px;
		padding: 10px 20px;
	}
		.header .link:hover {
			background-color: #141719;
			border-radius: 15px;
		}



.main {
	margin-top: 80px;
}

.div_text {
	margin: 20px 0;
	font-family: Russo One;
	font-size: 35px;
	text-align: center;
}

.item {
	display: flex;
	justify-content: center;
}

.mlink {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #282D30;
	border-radius: 15px;
	margin: 0 10px;
}
	.mlink:hover {
		background-color: #1C1E21;
	}
	.mlink .icon {
		height: 30px;
		margin: 5px;
	}
	.mlink .text {
		margin: 0 10px;
		font-size: 25px;
	}


.info {
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: -80px -120px 0 -120px;
}

	.info .icon {
		height: 560px;
		margin: 80px 40px 0 0;
	}
		.info .icon.game {
			height: 400px;
		}

	.info .panel {
		margin: 80px 40px 0 0;
		background-color: #141719;
		padding: 30px;
		border-radius: 20px;
		box-shadow: rgb(0, 0, 0, 0.4) 0 10px 25px 5px;
	}
	.info .title {
		font-size: 45px;
	}
	.info .text {
		margin-top: 10px;
		font-size: 25px;
	}



.bio, .game {
	border-radius: 20px;
	background-color: #1C1E21;
	display: flex;
	margin: 30px 0;
}
	.bio .avatar, .game .icon {
		margin: 20px;
		height: 240px;
		background-color: #141719;
		border-radius: 10px;
	}
	.bio .des, .game .des {
		margin: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.bio .title, .game .title {
		font-size: 30px;
	}
	.bio .text, .game .text {
		margin-top: 10px;
	}
	.bio .links {
		margin-top: 20px;
		display: flex;
	}
	.bio .link, .game .link {
		padding: 8px 10px;
		display: flex;
		align-items: center;
		border-radius: 10px;
	}
	.bio .link {
		margin-right: 10px;
	}
	.game .link {
		margin: 20px auto 0 0;
		background-color: #3A4246;
	}
		.game .link:hover {
			background-color: #282D30;
		}
		.bio .link .icon, .game .link .icon {
			height: 20px;
			border-radius: 0;
			margin: 0;
			background-color: initial;
		}
		.bio .link .text, .game .link .text {
			margin: 0 0 0 5px;
			font-size: 18px;
		}
		.bio .link.youtube {
			background-color: red;
		}
			.bio .link.youtube:hover {
				background-color: #B20312;
			}
		.bio .link.gamejolt {
			background-color: #2F7F6F;
		}
			.bio .link.gamejolt:hover {
				background-color: #0F5B52;
			}
		.bio .link.itch_io {
			background-color: #FF5F5F;
		}
			.bio .link.itch_io:hover {
				background-color: #CC434E;
			}
		.bio .link.discord {
			background-color: #5662F6;
		}
			.bio .link.discord:hover {
				background-color: #4242E5;
			}



.game_des {
	margin: 20px 0;
	border-radius: 20px;
	background-color: #1C1E21;
	padding: 10px 20px;
}
	.game_des .text {
		margin: 10px 0;
	}
.mlink .size {
	color: #97ADB2;
	margin: 0 10px 0 -5px;
}



.footer {
	margin: auto -120px 0 -120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1C1E21;
	font-size: 20px;
}
	.footer .links {
		width: 150px;
		display: flex;
		flex-direction: column;
	}
	.footer .link {
		color: #556166;
		margin-right: auto;
		padding: 2px 0;
	}
		.footer .link:hover {
			color: white;
		}

	.footer .copyright {
		width: 150px;
		text-align: center;
		color: #556166;
	}
	.footer .ktc_smoke {
		height: 120px;
	}



.game_screenshots {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -20%;
}
#r3:checked ~ .s1 {
	margin-left: -40%;
}
#r4:checked ~ .s1 {
	margin-left: -60%;
}
#r5:checked ~ .s1 {
	margin-left: -80%;
}
.screenshot {
	width: 20%;
}
	.screenshot:hover {
		cursor: pointer;
	}
.slides {
	width: 500%;
	height: 100%;
	display: flex;
}
.screenshots {
	width: 800px;
	height: 420px;
	border-radius: 10px;
	overflow: hidden;
}
.screenshot img {
	width: 100%;
	height: 100%;
}
.screenshots_nav {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 10px 15px 0 15px;
}
.sc_nav_bar {
	width: 50px;
	height: 20px;
	margin: 5px;
	cursor: pointer;
	background-color: #282D30;
	border-radius: 5px;
}
	.sc_nav_bar:hover {
		background-color: #1C1E21;
	}
input[name="r"] {
	position: absolute;
	visibility: hidden;
}
.gallery {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: 0.125s;
}
	.gallery.opened {
		visibility: visible;
		opacity: 1;
	}
.gallery_img {
	z-index: 4;
	max-width: 95%;
	max-height: 95%;
	transform: scale(0.75);
}
.gallery.opened .gallery_img {
	transform: scale(1);
}



.changelog {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	text-align: left;
	overflow-y: auto;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
}
	.changelog.opened {
		visibility: visible;
		opacity: 1;
	}
#changelog_b {
	display: none;
}

.changelog .panel {
	background-color: #1C1E21;
	border-radius: 20px;
	margin: 120px 100px 80px 100px;
}

.changelog .content {
	background: #141719;
	border-radius: 20px;
	padding: 15px 20px;
	margin: 20px;
}

.changelog .title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.changelog .ver {
	font-size: 28px;
}

.changelog .text {
	margin-top: 10px;
}


@media (max-width: 720px) {
	* {
		font-size: 16px;
	}

	.page {
		padding: 0 20px;
	}

	.header {
		padding: 15px;
		margin: 0 -20px;
	}
		.header .logo .icon {
			height: 40px;
		}
		.header .logo .text {
			max-width: 100px;
		}
		.header .link {
			margin-left: 10px;
			padding: 8px 12px;
		}

	.div_text {
		margin: 15px 0;
		font-size: 25px;
	}

	.mlink {
		padding: 8px;
	}
		.mlink .icon {
			height: 25px;
		}
		.mlink .text {
			font-size: 20px;
		}

	.info {
		flex-direction: column;
		margin: -80px -20px 0 -20px;
	}
		.info .icon {
			height: 300px;
			margin: 70px 0 0 0;
		}
		.info .panel {
			margin: 0 20px 40px 20px;
			text-align: center;
		}
		.info .title {
			font-size: 30px;
		}
		.info .text {
			font-size: 20px;
		}

	.bio, .game {
		margin: 15px 0;
		flex-direction: column;
	}
		.bio .avatar, .game .icon {
			margin: 20px 40px;
			height: auto;
		}
		.bio .des, .game .des {
			margin: 0 20px 20px 20px;
		}
		.bio .title, .game .title {
			font-size: 25px;
		}
		.bio .text, .game .text {
			margin-top: 8px;
		}
		.bio .links {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 8px;
		}
		.bio .link {
			margin: 8px 0 0 0;
			padding: 6px 8px;
		}
			.bio .link .text {
				font-size: 15px;
			}
			.bio .link .icon {
				height: 18px;
			}

	.info .icon.game {
		height: 250px;
	}
	.lgame {
		margin-bottom: 20px;
	}
	.lchangelog {
		margin-top: -20px;
	}

	.footer {
		margin: auto -20px 0 -20px;
		padding: 0 20px;
	}
		.footer .ktc_smoke {
			height: 100px;
		}

	.screenshots {
		width: 360px;
		height: 189px;
	}
	.sc_nav_bar {
		width: 40px;
		height: 18px;
	}
	.item {
		flex-direction: column;
	}
	.changelog .panel {
		margin: 110px 30px 70px 30px;
	}
	.changelog .ver {
		font-size: 25px;
	}
	.changelog .text {
		margin-top: 9px;
	}
}