* {
	padding: 0;
	margin: 0;
	font-family: Unbounded;
	font-size: 20px;
	transition: 0.25s;
	color: white;
	scroll-behavior: smooth;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	background: #D0469E;
	color: black;
}

.mb {
    display: none;
}
.pc {
	display: block;
}
.linkd.mb {
   	display: none;
}
.linkd.pc {
    display: flex;
}
.info .link {
	display: flex;
}

.body {
	background-color: black;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	padding: 0 250px;
}


.header {
	position: fixed;
	width: calc(100% - 544px);
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	z-index: 10;
	margin-top: 50px;
	border: 2px solid #585858;
	border-radius: 17px;
	background-color: black;
}
	.header .logo {
		display: flex;
		align-items: center;
	}
		.header .logo .icon {
			height: 40px;
		}
		.header .logo .text {
			margin-left: 10px;
			max-width: 130px;
			line-height: 22px;
			min-width: 200px;
			font-size: 18px;
		}

	.header .links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.header .link {
		font-family: Montserrat;
		font-size: 15px;
		padding: 10px;
		&:hover {
			color: #D0469E;
		}
	}

	.header .link.s {
		color: #D0469E;
	}

.content {
	margin-top: 130px;
	min-height: calc(100vh - 130px);
	display: flex;
	align-items: center;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	min-width: 600px;
}
	.info .title {
		font-size: 32px;
		max-width: 750px;
	}
	.info .text {
		font-family: Montserrat;
		max-width: 550px;
		color: #787878;
		font-size: 24px;
		font-weight: 500;
	}

	.info .links {
		display: flex;
		gap: 20px;
	}
	.info .link, .info .linkd {
		gap: 10px;
		font-family: Montserrat;
		padding: 20px 40px;
		border-radius: 10px;
		align-items: center;
	}
		.info .link .text, .info .linkd .text {
			color: white;
			font-size: 17px;
			font-weight: 600;
		}
		.info .link.pink, .info .linkd.pink {
			background-color: #D0469E;
			&:hover {
				background-color: #D96BB1;
			}
		}
		.info .link.tr, .info .linkd.tr {
			border: 2px solid #585858;
		}
.info.center {
	min-width: auto;
	align-items: center;
	text-align: center;
}

.image {
	width: 500px;
	height: 500px;
	z-index: -1;
}
	.image img {
		position: relative;
		right: 250px;
		top: -250px;
	}


.rules {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 30px 0;
}
	.rules .title {
		font-size: 18px;
		color: #D0469E;
		font-weight: 600;
	}
	.rules .text {
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 500;
	}


.bg {
	position: fixed;
	z-index: -10;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.bg .oval {
	position: absolute;
	width: calc(100vw - 152px);
	height: calc(100vh - 152px);
	top: 75px;
	left: 75px;
	border: 2px solid #161616;
	border-radius: 500px;
}
.bg .v {
	position: absolute;
	width: 2px;
	height: 100vh;
	background-color: #161616;
}
	.bg .v.first {
		left: calc(100vw - 75px);
	}
	.bg .v.second {
		left: 75px;
	}
.bg .h {
	position: absolute;
	height: 2px;
	width: 100vw;
	background-color: #161616;
}
	.bg .h.first {
		top: 75px;
	}
	.bg .h.second {
		top: calc(100vh - 75px);
	}
.bg_img {
	position: absolute;
	width: 1000px;
	height: 1000px;
	top: calc(50vh - 500px);
	left: calc(50vw - 500px);
}



.gradient_text {
	font-size: 32px;
	-webkit-background-clip: text;
	color: transparent;
}
	.gradient_text.first {
		background: linear-gradient(90deg, #EA32A0, #56073B);
	background-clip: text;
	}
	.gradient_text.second {
		background: linear-gradient(90deg, #44D3FF, #8F3FFF);
		background-clip: text;
	}





@media (max-width: 720px) {
	* {
		font-size: 16px;
	}

	.mb {
    	display: block;
    }
    .pc {
    	display: none;
    }
	.linkd.mb {
    	display: flex;
    }
    .linkd.pc {
    	display: none;
    }

	.page {
		padding: 0 20px;
	}

	.header {
		width: calc(100% - 84px);
		gap: 10px;
	}
		.header .links {
			gap: 0;
		}
		.header .link {
			font-size: 13px;
		}

	.content {
		padding: 0 20px;
	}

	.section {
		flex-direction: column;
	}

	.info {
		min-width: auto;
		gap: 10px;
	}
		.info .text {
			font-size: 18px;
		}
		.info .links {
			gap: 10px;
		}
		.info .link, .info .linkd {
			padding: 10px 15px;
		}
			.info .link .text {
				font-size: 12px;
			}

	.image {
		width: 300px;
		height: 300px;
	}
		.image img {
			width: 700px;
			right: 200px;
			top: -140px;
		}

	.bg .oval {
		width: calc(100vw - 52px);
		left: 25px;
	}
	.bg .v.first {
		left: calc(100vw - 25px);
	}
	.bg .v.second {
		left: 25px;
	}
}
