* {
	padding: 0;
	margin: 0;
	font-family: Unbounded;
	font-size: 20px;
	transition: 0.25s;
	color: white;
	scroll-behavior: smooth;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	background: #D0469E;
	color: black;
}

.body {
	background-color: black;
	overflow: hidden;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	padding: 0 250px;
}


.header {
	position: fixed;
	width: calc(100% - 544px);
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	z-index: 10;
	margin-top: 50px;
	border: 2px solid #585858;
	border-radius: 17px;
}
	.header .logo {
		display: flex;
		align-items: center;
	}
		.header .logo .icon {
			height: 40px;
		}
		.header .logo .text {
			margin-left: 10px;
			max-width: 130px;
			line-height: 22px;
			min-width: 200px;
			font-size: 18px;
		}

	.header .links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.header .link {
		font-family: Montserrat;
		font-size: 15px;
		padding: 10px;
	}

	.header .link.s {
		color: #D0469E;
	}
		.header .link:hover {
			color: #D0469E;
		}

.content {
	margin-top: 130px;
	min-height: calc(100vh - 130px);
	display: flex;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
	.info .title {
		font-size: 32px;
		max-width: 750px;
	}
	.info .text {
		font-family: Montserrat;
		max-width: 550px;
		color: #787878;
		font-size: 24px;
		font-weight: 500;
	}

	.info .links {
		display: flex;
		gap: 20px;
	}
	.info .link {
		display: flex;
		gap: 10px;
		font-family: Montserrat;
		padding: 20px 40px;
		border-radius: 10px;
	}
		.info .link .text {
			color: white;
			font-size: 17px;
			font-weight: 600;
		}
		.info .link.pink {
			background-color: #D0469E;
		}
		.info .link.tr {
			border: 2px solid #585858;
		}


.image {
	position: absolute;
	top: -60px;
	right: -190px;
	z-index: -1;
}

.bg {
	position: absolute;
	z-index: -10;
}
.bg .oval {
	position: absolute;
	width: calc(100vw - 152px);
	height: calc(100vh - 152px);
	top: 75px;
	left: 75px;
	border: 2px solid #161616;
	border-radius: 500px;
}
.bg .v {
	position: absolute;
	width: 2px;
	height: 100vh;
	background-color: #161616;
}
	.bg .v.first {
		left: calc(100vw - 75px);
	}
	.bg .v.second {
		left: 75px;
	}
.bg .h {
	position: absolute;
	height: 2px;
	width: 100vw;
	background-color: #161616;
}
	.bg .h.first {
		top: 75px;
	}
	.bg .h.second {
		top: calc(100vh - 75px);
	}



.gradient_text {
	font-size: 32px;
	-webkit-background-clip: text;
	color: transparent;
}
	.gradient_text.first {
		background: linear-gradient(90deg, #EA32A0, #56073B);
	background-clip: text;
	}
	.gradient_text.second {
		background: linear-gradient(90deg, #44D3FF, #8F3FFF);
		background-clip: text;
	}





@media (max-width: 720px) {
	* {
		font-size: 16px;
	}

	.main {
		margin-top: 70px;
	}

	.header {
		padding: 15px;
		width: calc(100% - 30px);
		justify-content: space-between;
		height: 40px;
	}
		.header .logo .icon {
			height: 40px;
		}

		.header .logo .text {
			max-width: 100px;
			line-height: 18px;
		}

		.header .link {
			margin-left: 10px;
			padding: 8px 12px;
		}
}