* {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 20px;
	color: #1F2937;
	transition: 0.25s;
	scroll-behavior: smooth;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	background: #FAFAFA;
}



.header {
	width: calc(100% - 200px);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 100px;
	z-index: 10;
}
	.header .links {
		display: flex;
		gap: 40px;
	}
	.header .link {
		font-size: 17px;
	text-decoration: none;
	}
	.header .logo .text {
		margin-left: 10px;
		font-family: Impact;
		font-size: 28px;
		max-width: 130px;
		letter-spacing: 8px;
	}

.main {
	padding: 0 100px;
}


.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.welcome .img {
		width: 100%;
	}
	.welcome .title {
		margin: 30px 0;
	}
.title {
	font-weight: 700;
	font-size: 32px;
	margin: 20px 0;
}

.line {
	width: 100%;
	height: 1px;
	background: #1F2937;
	margin: 30px 0;
}

.link {
	text-decoration: underline;
}

.group {
   width: calc(100% - 40px);
	padding: 20px;
}
	.group.green {
		background: #D3D9C4;
	}
	.group.blue {
		background: #DDE9EB;
		margin-top: 20px;
	}
	.group .gr {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	.group .img.big {
		width: 60%;
   		box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
	}
	.group .text.big {
		font-size: 28px;
	}
	.group .texts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}




.carousel {
   width: 100%;
   position: relative;
   margin: auto;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}
	.carousel .slide {
 		background: white;
 		width: calc(25% - 30px);
 		padding: 10px;
 		box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
	}
		.carousel .slide .img {
			width: 100%;
			margin: 30px 0;
		}
		.carousel .slide .text {
			font-size: 16px;
		}
		.carousel .slide .price {
			font-size: 22px;
		}
		.carousel .slide .stock {
			font-size: 12px;
		}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 8px;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}
.prev {
	left: -60px;
}
.next {
	right: -60px;
}
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
		color: white;
	}

.by-style {
	display: flex;
	justify-content: space-between;
}
	.by-style .item {
		background: white;
		width: calc(25% - 40px);
		padding: 15px;
   		box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
	}
	.by-style .img {
		width: 100%;
		margin-bottom: 10px;
    }

.rating .text, .rating .item .text {
	font-size: 16px;
}
.rating {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
}
.rating .item {
	display: flex;
	font-size: 20px;
	gap: 10px;
}
.stars {
	display: flex;
	justify-content: flex-start;
}
.star {
	height: 18px;
}
.bar {
	height: 18px;
	width: 129px;
	background: #F1F1F1;
}

.bar {
	height: 18px;
	width: 129px;
	background: #F1F1F1;
}
.fill {
	position: relative;
	height: 100%;
	background: #2D3643;
}
.fill.f5 {
	width: 95px;
}
.fill.f4 {
	width: 25px;
}
.fill.f3 {
	width: 8px;
}
.fill.f2 {
	width: 3px;
}
.fill.f1 {
	width: 1px;
}

.text.small {
	font-size: 16px;
	margin-bottom: 5px;
}
.info {
	display: flex;
}
.info .left {
	width: 60%;
}
.info .right {
	width: calc(40% - 20px);
	margin-left: 20px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 15px;
}
.info .img.big {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}
.info .imgs {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}
.info .imgs .img {
	height: 200px;
	width: calc(20% - 20px);
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid black;
}
.info .imgs img {
	height: 100%;
}
.info .title {
	font-weight: 200;
	font-size: 20px;
	margin: 0;
}
.info .price {
	font-weight: 700;
	font-size: 28px;
	margin: 10px 0;
}
.info .stars .text {
	font-size: 18px;
	margin-right: 5px;
}
.info .variant {
	font-size: 18px;
	margin-top: 10px;
}


.footer {
	height: 150px;
	background: #F1F1F1;
}